<header class="position-relative" style="height: 50vh; min-height: 300px; background-color: #0c4c7b;">
    <!-- Imagen de fondo -->
    <img src="header/explorarHeader.webp" alt="Munba Expeditions" class="w-100 h-100 object-fit-cover position-absolute top-0 start-0" style="z-index: 0;" loading="lazy" fetchpriority="high">

    <!-- Textos centrados -->
  <div class="position-absolute top-50 start-50 translate-middle text-center px-3" style="z-index: 5;">
    <h2 class="text-white fw-bold display-5 display-md-3 text-uppercase">¡Explora,</h2>
    <h3 class="text-white fw-semibold fs-5 fs-md-4 mt-2">descubre</h3>
    <h3 class="text-white fw-semibold fs-6 fs-md-5 mt-1">y conecta!</h3>
  </div>
  
    <!-- Navbar sobre la imagen -->
    <nav class="navbar navbar-expand-lg navbar-dark position-absolute top-0 start-0 w-100" style="z-index: 10;">
      <div class="container d-flex align-items-center py-2 py-lg-4">
        <!-- Logo -->
        <a class="navbar-brand" href="#" title="Inicio">
          <img src="header/mLogoNav.svg" alt="Munba Logo" width="140" class="img-fluid">
        </a>
  
        <!-- Botón colapsable -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Menú">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Menú -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav gap-2 align-items-center text-center text-lg-start">
            <li class="nav-item">
              <a class="nav-link text-white" href="#videoCa" title="Sección Nosotros">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#videoCa" title="Sección Nosotros">ACTIVIDADES</a>
              </li>
            <li class="nav-item">
              <a href="https://munbaexpeditions.mx/calendario-de-salidas/" target="_blank" class="nav-link text-white" title="Reserva tu expedición">RESERVA</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  