/* bg header img */
.img-bg{
  height: 50vh;
background-image: url('/header/explorarHeader.webp');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-size: cover"
}


  