<header class="position-relative bg-dark img-bg">
  
  <!-- Overlay -->
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50" style="z-index: 1;"></div>

    <!-- Textos centrados -->
  <div class="position-absolute top-50 start-50 translate-middle text-center px-3" style="z-index: 5;">
    <h3 class="text-white fw-semibold fs-3 fs-md-4 mt-2">Explorador</h3>    
    <h2 class="orangeExp fw-bold display-5 display-md-3 text-uppercase">DE ISLAS</h2>
  </div>
  
    <!-- Navbar sobre la imagen -->
    <nav class="navbar navbar-expand-lg navbar-dark border-bottom border-body position-absolute top-0 start-0 w-100" style="z-index: 10;">
      <div class="container d-flex align-items-center py-2 py-lg-4">
        <!-- Logo -->
        <a class="navbar-brand" href="#" title="Inicio">
          <img src="header/mLogoNav.svg" alt="Munba Logo" width="140" class="img-fluid" title="munba expedition">
        </a>
  
        <!-- Botón colapsable -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Menú">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Menú -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav nav-underline gap-2 align-items-center text-center text-lg-start">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/home" title="avistamiento">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/avistamiento" title="avistamiento">Avistamiento</a>
              </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/safari" title="safari">Safari Marino</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  