<app-home-header/>
<div class="container py-4 d-flex flex-column justify-content-center align-items-center">
    <h1 class="blueExp">Experiencias</h1>
    <h1 class="orangeExp">auténticas</h1>
    <p class="fs-4 text-center blueExp">
        En Munba Expeditions diseñamos aventuras únicas para conectar con la naturaleza, aprender de ella y conservarla.
    </p>
</div>

<!-- Avistamiento -->
<div class="py-4">
    <div class="mb-5 border-0 container">
      <div class="row flex-column flex-md-row align-items-center">
        <!-- Imagen -->
        <div class="col-md-5 d-flex justify-content-center">
          <img src="home/avistamiento.webp" class="img-fluid rounded shadow object-fit-cover" style="max-height: 450px;" alt="Ballenas Avistamiento" loading="lazy">
        </div>
  
        <!-- Texto -->
        <div class="col-md-7">
          <div class="card-body text-center text-md-start px-2 px-md-4">
            <h1 class="fw-semibold blueExp mb-2 mt-2">Avistamiento de ballenas</h1>
            <a class="btn shadow orangeBg text-white px-4 py-2 mt-3" routerLink="/avistamiento" aria-label="Conocer más sobre el tour de avistamiento de ballenas">
                Más información
            </a>              
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Safari -->
<div class="py-4 blueBg">
    <div class="mb-5 border-0 container">
      <div class="row flex-column flex-md-row align-items-center align-items-md-center">  
        <!-- Texto -->
        <div class="col-md-7">
          <div class="card-body text-center text-md-start px-2 px-md-4">
            <h1 class="fw-semibold text-white mb-2">Safari Marino</h1>
            <a class="btn shadow orangeBg text-white px-4 py-2 mt-3 mb-3" routerLink="/safari" aria-label="Conocer más sobre el tour de avistamiento de ballenas">
                Más información
            </a>              
          </div>
        </div>

        <!-- Imagen -->
        <div class="col-md-5 d-flex justify-content-center">
            <img src="home/safari.webp" class="img-fluid rounded shadow object-fit-cover" style="max-height: 550px;" alt="Ballenas Avistamiento" loading="lazy">
          </div>
      </div>
    </div>
</div>

<!-- Explorador -->
<div class="py-4">
    <div class="mb-5 border-0 container">
      <div class="row flex-column flex-md-row align-items-center">
        <!-- Imagen -->
        <div class="col-md-6 d-flex justify-content-center">
          <img src="home/explorador.webp" class="img-fluid rounded shadow object-fit-cover" style="max-height: 550px;" alt="Ballenas Avistamiento" loading="lazy">
        </div>
  
        <!-- Texto -->
        <div class="col-md-5">
          <div class="card-body text-center text-md-start px-2 px-md-4">
            <h1 class="fw-semibold blueExp mb-2 mt-2">Explorador de islas</h1>
            <a class="btn shadow orangeBg text-white px-4 py-2 mt-3" routerLink="/explorador" aria-label="Conocer más sobre el tour de avistamiento de ballenas">
                Más información
            </a>              
          </div>
        </div>
      </div>
    </div>
</div>
  
  