/* You can add global styles to this file, and also import other style files */
/* fontsColor */
.blueExp{
    color: #1e3456;
}

.orangeExp{
    color: #d87d39;
}

/* bg colors */

.orangeBg{
    background-color: #d87d39;
}

.blueBg{
    background-color: #1e3456;
}